hr{
    width: 600px;
    margin-left: 0px;
    border: 0.5px dashed green;
}
.box1{
    box-sizing: border-box;
    border: 3px solid greenyellow;
    background-color: gray;
    width: 600px;
    padding: 50px;
    margin-bottom: 10px;
}
.box2{
    box-sizing: border-box;
    border: 3px solid greenyellow;
    background-color: gray;
    width: 600px;
    padding: 50px;
}