p{
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-style: normal;

}