/* h2 , img{
    border: 2px solid red ;
} */

div , li{
    border: 3px solid green;
}
p{
    border-style: dotted;
}
h2{
    border-bottom: 4px solid red;
    border-top: 4px dotted green;
    border-radius: 30px;
}
img{
    border: 2px dashed brown;
    width: 300px;
}