h2{
    background-color: rgb(206, 199, 199);
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 0px;
}
#id1{
    border: 2px solid rgb(206, 199, 199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
#id2{
    border: 2px solid rgb(206, 199, 199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}
.container{
    width: 800px;
    /* border: 2px dotted red; */
    margin:0px auto;
}
section h3{
    text-transform: uppercase;
}
ul.list{
    border-bottom: red;
}